</div>

<footer class="footer">
  Developed By <a href="http://facebook.com/bangadam123">Bangadam.dev</a>
</footer>
  <script src="/jquery.min.js"></script>
  <script src="/bootstrap.min.js"></script>
</body>
</html>
